<template>
      <div class="scene scene--card">
        <div :class="flipped ? 'card' : 'card is-flipped'">
          <div
            class="card__face card__face--front frontImg" 
            @click.prevent="flipped = false">
          
          <h1 class="fontCard"></h1>
          </div>
          <div
            class="card__face card__face--back backImg"
            @click.prevent="flipped = true"
          >
           <p class="p4">Picture of the Interface.</p>
          </div>
        </div>
      </div>
</template>

<script>

export default {
  data() {
    return {
      flipped: true
    };
  },
};
</script>

<style></style>
