<template>
      <div class="scene scene--card">
        <div :class="flipped ? 'card' : 'card is-flipped'">
          <div
            class="card__face card__face--front"
            @click.prevent="flipped = false"
          >
          <h1 class="fontCard">What is <span>KRILLOUD</span> and What it does...</h1>
          </div>
          <div
            class="card__face card__face--back"
            @click.prevent="flipped = true"
          >
          <p class="p2"><span style="font-size:1.3rem">Video Tutorials</span> see our last video tutorial
            </p>
            <youtube
                  player-width="350"
                  player-height="250"
                  position="relative"
                  class="video"
                  video-id="7Dwkz_lyPCw"
                ></youtube>
                <nuxt-link class="pageLoading" to="/Info">see more...</nuxt-link>
          </div>
        </div>
      </div> 
</template>

<script>

export default {
  data() {
    return {
      flipped: true
    };
  },
  methods: {
    
  }
};
</script>

<style></style>
