<template>

      <div class="scene scene--card">
        <div :class="flipped ? 'card' : 'card is-flipped'">
          <div
            class="card__face card__face--front"
            @click.prevent="flipped = false"
          >
          <h1 class="fontCard">MAKE INTERACTIVE <span>AUDIO</span> IMPORTANT</h1>
          </div>
          <div
            class="card__face card__face--back"
            @click.prevent="flipped = true"
          >
            <p><span style="font-size:1.3rem">Krilloud</span> is a tool to facilitate the design and implementation of interactive 
            audio in a creative, simple and efficient way. 
            Our goal is that developers, programmers and audio professionals 
            save time and expand their creative possibilities. 
            We are audio evangelists so to help the community we 
            deliver an affordable and easy-to-use tool, while streamlining 
            the workflow. We aim to give access to everyone to a tool that 
            breaks barriers and allows them to enter the exciting world of 
            interactive audio...
            </p>
             <nuxt-link class="pageLoading" to="/About">see more...</nuxt-link>
          </div>
        </div>        
      </div>

  
</template>

<script>

export default {
  data() {
    return {
      flipped: true
    };
  },
};
</script>

<style></style>
