<template>
<div class="scene scene--card">
        <div :class="flipped ? 'card' : 'card is-flipped'">
          <div
            class="card__face card__face--front fontCard transform"
            >
          <img class="image" src="../static/images/Krilloud_LOGO_RGB.png"><br>
          <a href="https://krilloud.com/download.html">
          <img alt="download" src="../static/images/download_windows.png" width="150px" height="50px">
          </a>
          </div>
        </div>
      </div>
  
</template>

<script>

export default {
  data() {
    return {
      flipped: true
    };
  },
  methods: {
    
  }
};
</script>

<style></style>
