
$font-main: 'JetBrains Mono';

.fontCard {
  font-family: monospace; 
  color: $colour-font;  
  font-size: 1.75rem;
  padding-top: 130px; 
  
}
.fontCard span{
  font-family: $font-main; 
  color: $colour-icon; 
}
