.img {
    position: absolute; 
}

.card__face--back img {
    margin: 1rem;
    text-align: left;
    width: 5px;
    height: 5px;
    padding-top: 2.7rem;
}

.card__face--back img {
    margin: 1rem;
    text-align: left;
    width: 5px;
    height: 5px;
    padding-top: 2.7rem;
}