@import "colours";
@import "fonts";
@import "images";

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

body { font-family:  'JetBrains Mono', monospace }

.section {
  display: flex;
  width: 100%;

}

.container-custom{
  display: flex;
  width: 100%; 
  padding:0px;
  justify-content: initial; 
  align-items: initial; 
  flex-wrap: wrap; 
  margin: 0; 


}
.scene {
  width: 50%;
  height: 50vh;
  
  
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative; 
}
.card:hover {
  transform: scale(0.9); 
  

}
.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center; 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: #E0E0E0;
}

.card__face--back {
  background: $colour-primary;
  transform: rotateY(180deg);
}

.card__face--back {
  font-family: $font-main;
  color: $colour-font; 
  font-size: 0.70rem; 
  display:grid; 

}
.card__face--back p{
    margin: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 2rem;     

}
p.p2{
  margin-top: 1rem; 
  padding: initial; 

}

.card__face--back p{
    margin: 1rem;
    text-align: center;
    width: 100%;
    height: 100%;
         

}
a:hover{
  color:$colour-secundary; 
  text-decoration: none; 
}
p.p4{
  text-align: left; 
}
.col {
  width:100%;
  height: 50%;
}

h1.subtitle { 
  color: black 
}
.card .image{
      width: 400px; 
    }
.frontImg {
  background-image: url("Ernest_image.png"); 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  filter: saturate(0);
}

.backImg {
  background-image: url("Ernest_image.png"); 
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
   
  
}
.pageLoading {
  color: $colour-icon;

}



@media (max-width: 640px){
    .card {
        width: 100%;
        border: 1px solid rgb(218, 212, 212);
    }
    .container-custom {
        flex-direction: column;
    }
    .scene {
      width: 100%;
      height: 50vh;
    }
    .card .image{
      width: 200px; 
    }
    .fontCard {
      font-family: monospace;
      color: #212121;
      font-size: 1.75rem;
      padding-top: 60px;
      }
}