<template>
  <div class="container-custom">
      <Card_1/>
        <Card_2/>
          <Card_3/>
          <Card_4/>
  </div>
</template>

<script>
import Card_1 from "../partials/Card_1"; 
import Card_2 from "../partials/Card_2"; 
import Card_3 from "../partials/Card_3";
import Card_4 from "../partials/Card_4";

export default {
  data() {
    return {
      flipped: true,
    };
  },
  components: {
    Card_1,
    Card_2,
    Card_3,
    Card_4
  }
};
</script>

<style></style>
